#banner {
  align-items: center;
  background-image: url("../images/News/news.jpg");
  background-position: 50% 57%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  height: 450px;
  justify-content: center;
}

.location {
  margin-top: 20px;
  text-align: center;
}

.location h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.location p {
  font-size: 1.25rem;
}

.noutate a {
  color: black;
  text-decoration: none;
}

.noutate a:hover {
  color: #2d8658;
}

a {
  color: #000;
}

a:hover {
  color: #209559;
}
