main {
  padding: 4% 0;
}

main h1 {
  color: #209559;
  font-size: 2.75rem;
  margin-bottom: 3rem;
  max-width: 85%;
}

main img {
  max-width: 100%;
}

.row-1 {
  align-items: center;
}

.row-1 p {
  font-size: 1.5rem;
  line-height: 1.7;
  padding-left: 1rem;
}

.row-2 {
  margin-top: 4%;
}

.row-2 p {
  font-size: 1.25rem;
  line-height: 1.7;
}

main ul, ol {
  padding-left: 1.25rem;
}

main li {
  font-size: 1.25rem;
  line-height: 2;
}

@media (max-width: 992px) {

  main {
    padding: 7% 5% 7%;
  }

  main h1 {
    text-align: center;
    max-width: 100%;
  }

  main img {
    margin-bottom: 7%;
  }

  .row-2 {
    margin-top: 7%;
  }

  .row-2 p {
    font-size: 1.5rem;
  }

  main li {
    line-height: 2;
    margin-bottom: 1rem;
  }
}
